---
layout: base
title: Titanosaurus
description: Grawww,... I'm a clever dinosaur.
nav: home
css:
  - "/css/lightbox.min.css"
js:
  - "/js/lightbox-plus-jquery.min.js"
---

{% include header.html type="index" %}

<!-- Social -->
<section id="social" class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-9">
        {% assign mycv = '/about' %}
        {% include heading-title.html title="Find me on" icon="fas fa-globe-asia" more="my CV" insite=mycv cclass="mycv" %}
      </div>
    </div>
  </div>
  {% include me-social.html %}
</section>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-10 col-xl-9">
      <p class="learning-log-box">
        <a href="{{site.url}}{{site.baseurl}}/my-learning-log">⚡ Check out my learning log!</a>
      </p>
    </div>
  </div>
</div>

<!-- Projects -->
<section id="project" class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-9">
        {% include heading-title.html title="Recent projects" insite="/project" icon="fas fa-code-branch" %}
      </div>
      <div class="col-lg-10 col-xl-9">
        {% include list_project.html limit=5 %}
      </div>
    </div>
  </div>
</section>

<!-- Reading -->
<section id="reading" class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-9">
        {% include heading-title.html title="Recent read books" insite="/reading" icon="fas fa-book-reader" %}
      </div>
      <div class="col-lg-10 col-xl-8">
        {% include list_reading.html limit=5 %}
      </div>
    </div>
  </div>
</section>

<!-- Blog posts -->
<section id="reading" class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-9">
        {% include heading-title.html title="Blog posts" insite="/blog" icon="fab fa-leanpub" %}
      </div>
      <div class="col-lg-10 col-xl-8">
        {% include list_post.html limit=5 %}
      </div>
    </div>
  </div>
</section>



<!-- Contact -->
<section class="section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 col-xl-9">
        {% include heading-title.html title="Contact" icon="fas fa-at" %}
      </div>
      <div class="col-lg-10 col-xl-8">
        <ul class="contact">
          <li>Call for a coffee talk in <b>{{site.data.me.location}}</b>.</li>
          <li>In any case, I'm always available to discuss at <a href="mailto:{{site.data.me.email}}"><b>{{site.data.me.email}}</b></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
